.wrapper {
  max-width: 70rem;
  margin: 2rem auto; /*auto deixa centralizado na tela*/
  padding: 0 1rem; /*linha para caso o usuario diminua o tamanho da tela < 70rem, fique com espaço entre as laterais*/ 
  
  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start;
}

@media (max-width: 768px) {
  html{
    font-size:87.5%;
  }

  .wrapper{
    grid-template-columns: 1fr;
  }
}